*{
	margin: 0;
	padding: 0;
}
html, body{
overflow-x:hidden
}
body{
	min-height: 100vh;
	background: center no-repeat url(img/15766724456774.jpg);
	background-size: cover;
	font-family: 'Montserrat', sans-serif;
}
header{
	text-align: center;
}
.top_banner{
	width: 728px;
	height: 90px;
}
.main_content{
	margin: 0 auto;
	color: white;
}
.redirect{
	text-align: center;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}
.redirect__text{
	width: 100%;
	margin-bottom: 20px;
	font-size: 25px;
}

.referal{
	margin-top: 50px;
	text-align: center;
}


.base-timer {
  position: relative;
  width: 150px;
  height: 150px;
}

.base-timer__svg {
  transform: scaleX(-1);
}

.base-timer__circle {
  fill: none;
  stroke: none;
}

.base-timer__path-elapsed {
  stroke-width: 7px;
  stroke: grey;
}

.base-timer__path-remaining {
  stroke-width: 7px;
  stroke-linecap: round;
  transform: rotate(90deg);
  transform-origin: center;
  transition: 1s linear all;
  fill-rule: nonzero;
  stroke: currentColor;
}

.base-timer__path-remaining.green {
  color: rgb(65, 184, 131);
}

.base-timer__path-remaining.orange {
  color: orange;
}

.base-timer__path-remaining.red {
  color: red;
}

.base-timer__label {
  position: absolute;
  width: 150px;
  height: 150px;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 48px;
}
@media (max-width: 549px) {
	.main_img{
		width: 100%;
		height: auto;
		position: absolute;
		left: 0;
		bottom: 0;
	}
	.top_banner{
		width: 100%;
		height: auto;
	}
}
@media (max-width: 350px) {
	.main_img{
		width: 100%;
		height: auto;
		position: absolute;
		left: 0;
		bottom: 0;
	}
	.top_banner{
		width: 100%;
		height: auto;
	}
	.redirect__text{
		font-size: 20px;
	}
	.base-timer__label{
		font-size: 36px;
		width: 100px;
 		height: 100px;
	}
	.base-timer {
 		width: 100px;
 		height: 100px;
}
}