*{
	font-size: 25px;
	margin: 0;
	padding: 0;
}
body{
	min-height: 100vh;
	background: center no-repeat url(img/15766724456774.jpg);
	background-size: cover;
	font-family: 'Montserrat', sans-serif;
}
.logo{
	color: #fcd31b;
	font-size: 50px;
}
.header__logo{
	margin-top: 30px;
	font-family: 'Montserrat', sans-serif;
	text-align: center;
	font-size: 50px;
	font-weight: 800;
}

.main_content{
	margin: 0 auto;
	color: white;
	margin: 80px;
}
.redirect{
	text-align: center;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}
.redirect__text{
	width: 100%;
	margin-bottom: 20px;
}
.redirect__animation{

}
.referal{
	margin-top: 50px;
	display: flex;
	flex-direction: row;
	justify-content: center;

}
.referal_text{
	width: 450px;
	margin-right: 100px;
}
.referal_gif{
	width: 350px;
}
img{
	width: 100%;
}
h1{
	
	font-size: 56px;
	font-weight: 700;
}
h2{
	margin-top: 30px;
}
h3{
	margin-top: 30px;
}



.base-timer {
  position: relative;
  width: 150px;
  height: 150px;
}

.base-timer__svg {
  transform: scaleX(-1);
}

.base-timer__circle {
  fill: none;
  stroke: none;
}

.base-timer__path-elapsed {
  stroke-width: 7px;
  stroke: grey;
}

.base-timer__path-remaining {
  stroke-width: 7px;
  stroke-linecap: round;
  transform: rotate(90deg);
  transform-origin: center;
  transition: 1s linear all;
  fill-rule: nonzero;
  stroke: currentColor;
}

.base-timer__path-remaining.green {
  color: rgb(65, 184, 131);
}

.base-timer__path-remaining.orange {
  color: orange;
}

.base-timer__path-remaining.red {
  color: red;
}

.base-timer__label {
  position: absolute;
  width: 150px;
  height: 150px;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 48px;
}