*{
	font-size: 25px;
	margin: 0;
	padding: 0;
}
body{
	height: 100%;

	background: #B7B7B7FF;
}
header{
	background: #FFFFFFFF;
	width: 100%;
}
.header_content{
	display: flex;
	justify-content: space-between;
	align-items: center;

	height: 100px;
	width: 1200px;
	margin: 0 auto;
}
.header__text{
	color: #FFD21EFF;
	font-size: 40px;
	font-weight: 600;
}
main{
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 900px;
}
.main_content{
	margin: 0 auto;
}



footer {
	text-align: center;
	background: yellow;
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	padding: 20px 0px;

}


