*{
	color: red;
}
body{
	height: 100%;

	background: #B7B7B7FF;
}
header{
	width: 100%;
	height: 100px;
}
.header_content{
	width: 1400px;
}

footer {
	background: black;
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 80px;
}


