*{
	color: red;
}
body{
	height: 100%;

	background: #B7B7B7FF;
}
header{
	background: #FFFFFFFF;
	width: 100%;
	height: 100px;
}
.header_content{
	margin: 0 auto;
	width: 1400px;
	display: inline-block;
}
.header__logo{
	display: inline-block;
}
.header__text{
	display: inline-block;
}

footer {
	background: black;
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 80px;
}


